.keyboard {

}
.keyboard__row {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  align-items: center;
}
.keyboard__key {
  flex: 0 0 3.5rem;
  position: relative;
  margin: 0.5rem;
  width: 3.5rem;
  height: 3.5rem;
  text-align: center;
  border: 1px solid rgba(173, 173, 173, 0.2);
  border-radius: 3px;
  background: rgba(0,0,0,0.8);
  box-shadow: 0 0 2px 2px rgba(0,0,0,0.3);
  color: white;
}

.keyboard__key--pressed {
  background: rgba(12, 115, 0, 0.8);
}
.keyboard__key__label {
  position: absolute;
  width: 33%;
  height: 33%;

}
.keyboard__key__label--left-top {
  top: 15%;
  left: 15%;
}
.keyboard__key__label--left-middle {
  top: 33%;
  left: 15%;
}
.keyboard__key__label--left-bottom {
  bottom: 15%;
  left: 15%;
}
.keyboard__key__label--center-top {
  top: 15%;
  left: 33%;
}
.keyboard__key__label--center-middle {
  top: 33%;
  left: 33%;
}
.keyboard__key__label--center-bottom {
  bottom: 15%;
  left: 33%;
}
.keyboard__key__label--right-top {
  top: 15%;
  right: 15%;
}
.keyboard__key__label--right-middle {
  top: 33%;
  right: 15%;
}
.keyboard__key__label--right-bottom {
  bottom: 15%;
  right: 15%;
}

